.content-section {
    box-sizing: border-box;
    width: auto;
    min-height: 100px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: 113.5fr  37fr 112.5fr;
    grid-template-rows: 1fr;
    padding: 92px 24px 95px 24px;
    font-size: 18px;
}

.header__menu {
    padding: 44px 36px 0 0;
}

.header__links-list {
    display: flex;
    justify-content: end;
    list-style: outside circle;
}

.header__links-list-item {
    padding: 0 29px 0 0;
}

.header__links-list-item:last-child {
    padding: 0;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    letter-spacing: 0.01655em;
}

.header__link_active {
    border-bottom: none;
    letter-spacing: 0.02em;
}

/* надо бы менять картинку на экспорт макета, есть отличия*/

.header__logo {
    justify-self: center;
}

.header__logo-image {
    display: block;
    height: 105px;
}

.header__address {
    padding: 6px 26px 2px 184px;
    font-style: normal;
    line-height: 24.4px;
}

.header__address a {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    line-height: 23.4px;
    letter-spacing: 0.016em;
    text-decoration: none;
}

/* секция */

.cover {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    color:white;
    font-size:22px;
    background: url(/images/cover.jpg) no-repeat center / cover;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 166px 50px 0 50px;
}

.aligned-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text_center {
    justify-content: center;
    line-height: 100px;
    letter-spacing: 0.3em;
}

/*совершенно не очевидный момент, но по принципу конструктора и вложенности можно сверстать и все допущенные моменты в макете*/

.aligned-text_center .letter-spacing-extended {
    line-height: 100px;
    letter-spacing: 0.6em;
}

.aligned-text_right {
    justify-content: right;
    line-height: 100px;
    letter-spacing: 0.6em;
}

.aligned-text_right .letter-spacing-extended {
    line-height: 100px;
    letter-spacing: 0.3em;
}

.aligned-text_right span:last-child {
    letter-spacing: 0;
}

.letter-spacing-extended {
    line-height: 115px;
    letter-spacing: 0.6em;
}

/*---*/

.cover__description {
    padding: 66px 0 62px 79px;
}

.cover__description-text {
    font-size:22px;
    line-height: 28px;
    letter-spacing: -0.0018em;
    text-transform: uppercase;
    word-spacing: 0.859em; /*пришлось подбирать по пикселю*/
}

/* пришлось усложнить код, коли в макете специально усложнили, мжет к логотипу вернусь тоже*/

.cover__description-text:nth-child(2) {
    letter-spacing:0em;
    word-spacing: 0.84em;
}

.cover__description-text:nth-child(3) {
    letter-spacing: -0.0001em;
    word-spacing: 0.82em;
}

/* --- */

.bet-button {
    align-self: center;
    width: 256px;
    height: 50px;
    border: 1px solid white;
    color: white;
    font-size: 22px;
    line-height: 25.83px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff00;
}

/* секция */

.lots {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 179px 24px 0 24px;
    font-size:20px;
}

.lots__heading {
    display: flex;
    padding: 0 0 26px 40px;
    font-size: 40px;
    line-height: 48.2px;
    text-transform: uppercase;
}
	
.lots__card-list {
    display: flex;
    gap: 25px;
}
    
.lots__card-list-item {
    list-style: none;
}
    
.card-link {
    text-underline-offset: 3px;
}
    
.card {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    flex-basis: 334px;
    justify-content: space-between;
    min-height: 563px;
    color: white;
}
    
.card_type_film {
    background: url(/images/card-lot-01.jpg) no-repeat center / cover;
}
    
.card_type_book {
    background: url(/images/card-lot-02.jpg) no-repeat center / cover;
}
    
.card_type_picture {
    background: url(/images/card-lot-03.jpg) no-repeat center / cover;
}
   
.card__title {
    padding: 51px 40px 0 40px;
    font-size:22px;
    line-height: 26px;
    text-transform: uppercase;
}
    
.card__text {
    padding: 0px 40px 48px 40px;
    line-height: 24px;
}

.card__text span {
    font-family: Raleway;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.13em;
}
    
.lots__look-more-link {
    display: flex;
    padding: 30px 0 0 40px;
}

.lots__look-more-link p {
        border-bottom: 1px solid rgba(0, 0, 0, 1);
}

/* секция */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7fr 4fr 4fr;
    grid-template-areas:
    "logo title title"
    "logo textd textd"
    "logo textd textd";
    min-height: 743px;
    padding: 148px 24px 0 24px;
}

/* не пригодилось

.about__column {

}

*/
	
.about__logo {
    grid-area: logo;
    width: 240px;
    height: 240px;
    margin: 33px 0 0 47px;
    border-radius: 120px;
    background: black;
}

.about__logo-image {
    padding: 64px 45px 0 46px;
}

.about__title {
    grid-area: title;
    padding: 134px 0 0 9px;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: textd;
    justify-content: space-between;
    padding: 4px 0 0 9px;
    font-size: 20px;
    letter-spacing: 0.0em;
    word-spacing: 0em;
}

.about__text p:first-child {
    padding-right: 5px;
    letter-spacing: -0.0047em;
    word-spacing: 0.08em;
}

.about__text p:first-child span:first-child {
    letter-spacing: 0.00em;
    word-spacing: 0.01em;
}

.about__text p:first-child span:nth-child(2) {
    letter-spacing: 0.001em;
    word-spacing: 0em;
}

.about__text p:first-child span:nth-child(3) {
    letter-spacing: -0.01em;
    word-spacing: 0em;
}

.about__text p:first-child span:nth-child(4) {
    letter-spacing: 0.03em;
    word-spacing: 0em;

}
    
.about__text p:last-child span:nth-child(2) {
    line-height: 24.2px;
    letter-spacing: -0.001em;
    word-spacing: 0em;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:185px;
    padding: 180px 50px 88px 50px;
    font-size: 18px;

}

.address {
    min-width: 240px;
    font-style: normal;
    line-height: 24px;
}
	
.address a {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    text-decoration: none;
}

.footer__menu {
    min-width: 150px;
} 

.footer__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    min-width: 240px;
}

.footer__social-list-item {
    list-style: none;
}

/* не пригодилось, где то не понял
.footer__social-link {
}
*/

.footer__social-icon {
    width: 48px;
}